<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruzz.butilordering">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ButilOrdering">
        <activity android:name=".ProductProfile"></activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".TrackingActivity"
            android:exported="true"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".MyOrderActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
    </application>

</manifest>